<script type="text/html" id="main_content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- box begins -->
            <div class="box box-info">
                <!-- box header-->
                <div class="box-header">
                    <h3 class="box-title">Existing Employees</h3>
                    <a class="btn btn-info btn-sm pull-right" href="addEmployee.html">Add New</a>
                </div>

                <!--box header ends-->

                <!--box content begins-->
                <div class="row box-body" style="padding: 20px">
                    <table id="employeeDetails" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody data-bind="{foreach: employees,afterRender: runWhenAllRenderDone}">
                        <tr>
                            <td data-bind="text: id" hidden></td>
                            <td data-bind="text: fullName"></td>
                            <td data-bind="text: email"></td>
                            <td data-bind="text: residentialAddress"></td>
                            <td data-bind="text: residentialPhone"></td>
                            <td><a class="label label-danger" href=""
                                   data-bind="click: $root.removeEmp">Remove</a> <a class="label label-info"
                                                                                    href=""
                                                                                    data-bind="click: $root.viewEmp">View</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- box content ends-->
            </div>
            <!-- box ends-->
        </div>
    </div>


    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="box box-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h3 class="modal-title"><span data-bind="text: fullName"></span> | Employee Details</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td><b>Full Name: </b></td>
                                        <td data-bind="text: fullName"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Email: </b></td>
                                        <td data-bind="text: email"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Residential Phone: </b></td>
                                        <td data-bind="text: residentialPhone"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Permanent Phone: </b></td>
                                        <td data-bind="text: permanentPhone"></td>
                                    </tr>
                                    <tr>
                                        <td><b>NIC Number: </b></td>
                                        <td data-bind="text: nic"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Birth: </b></td>
                                        <td data-bind="text: dob"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Joined Date: </b></td>
                                        <td data-bind="text: joinedDate"></td>
                                    </tr>

                                    <tr>
                                        <td><b>Starting Salary(Rs): </b></td>
                                        <td data-bind="text: startingSalary"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Residential Address: </b></td>
                                        <td data-bind="text: residentialAddress"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Permanent Address: </b></td>
                                        <td data-bind="text: permanentAddress"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Previous Experience: </b></td>
                                        <td data-bind="text: prevExperience"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Comments from previous work places: </b></td>
                                        <td data-bind="text: commentsFromPrevWorkPlace"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Emergency Contact: </b></td>
                                        <td data-bind="text: emergencyContact"></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <img id="employeeImage" src="dist/img/default_male_avatar.gif"
                                     class="img-rounded img-responsive"
                                     style="width:140px;height:140px;">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</script>